<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="imu.hzm.ganasd.dao.BrandDao">
    <select id="findAllBrand" resultType="String">
        select brandname from brand;
    </select>

    <select id="findBrandNameById" parameterType="Long" resultType="String">
        select brandname from brand where brandid=#{brandId};
    </select>

    <select id="findBrandIdByName" parameterType="String" resultType="Long">
        select brandid from brand where brandname=#{brandName};
    </select>
</mapper>